* {

}
header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    font-family: "Times New Roman", Times, serif;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    overflow: hidden;
    top: 0;
    background-image:
          linear-gradient(rgba(15, 12, 28, 0.1), rgba(15, 12, 28, 0)),
          url("img/");
}
h1 {
    font-size: clamp(2rem, 2vw + 1rem, 3rem);
    color: rgb(97, 82, 142);
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 10px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding-top: 0px;
   }

h2 {
    letter-spacing: 5px;
    word-spacing: 10px;
    color: rgb(97, 82, 142);
    margin-top: 1px;
}